/***************************************************************************************/

/* Generic */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

:root {
  --background-primary: #e1e3cd;
  --background-secondary: #76c4cd;
  --text-primary: #072a48;
  --text-secondary: #072a48;
  --triangle: #f1f1f1;
}

html {
  margin: 0;
  height: 100%;
  font-family: "Abril Fatface", cursive !important;
  background: linear-gradient(
    180deg,
    var(--background-primary) 0%,
    var(--background-secondary) 100%
  );
}

/* Navbar component styling */
.Navbar {
  position: fixed;
  top: 20%;
}

.Navbar li {
  list-style: none;
  padding: 30px 0px;
}

/* Footer component styling */
.footer-container {
  display: flex;
}

.Footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.Footer h2 {
  font-size: 36px;
  display: flex;
  margin: 0%;
  position: relative;
  left: 10%;
  top: 90px;
}

.triangle {
  width: 100%;
  height: 20vh;
  background-color: var(--triangle);
  clip-path: polygon(100% 0%, 100% 100%, -10% 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.triangle h3 {
  margin: 20%;
}

.username {
  color: var(--text-secondary);
}

/* Calendar component styling */
.react-calendar {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6f48eb33;
  border-radius: 6px;
  font-weight: bold;
  color: #6f48eb;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #6f48eb;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #6f48eb;
  color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}
.react-calendar__tile--range {
  background: #f8f8fa;
  color: #6f48eb;
  border-radius: 0;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #6f48eb;
  color: white;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #6f48eb;
  color: white;
}
