@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

.Container {
    overflow:scroll;
    align-items: center;  
}

.SearchEntry{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
  
  }

  .SearchTop{
    padding-top: 1%;
    padding-bottom: 1%;
    
    background-color: rgba(241, 241, 241, 0.3);
    text-align: center;
}

@media (max-width: 600px){
    .SearchEntry {
        margin-top: 8rem;
      }
}





